// 表单项
.el-form-item {
    // margin-bottom: 10px;
    // .el-input,.el-input__inner {
    //     height: 32px !important;
    //     line-height: 32px !important;
    // }
    // .el-form-item__label {
    //     font-size: 12px;
    // }
}

// 表格
.el-table th, .el-table td {
    padding: 8px 0;
}
.el-tabs__nav {
    z-index: 0;
}